#seccion_header{
    background-color: #4CAF50;
    width: auto;
    height: 60px;
}
h4{
    color: white;
    padding: 10px;
}

img{
    width: 50px;
    height: 50px;
    display:block;
    margin:auto;
}

table{
    margin-left: 20px;
    width: 95%;
    border: 1px solid gray;
}
th,td{
    border: 1px solid gray;
    text-align: center;
}


button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 12px
}
#div-form{
    float: left;
    margin-left: 20px;
}
.form-select{
    float: right;
    margin-right: 20px;
    width: 80%;
}
#input-text{
    float: right;
    margin-right: 20px;
    width: 80%;
}

html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }