                               <section class = "form-register">
                                    <h2>Crear Cuenta</h2> 
                                   
                                    <div class="input-1">
                                        <select class=controls  name="Tipo de usuario" style="width: 240px; height:35px;">
                                            <option value="opcion" selected>Seleccione Opción</option>
                                            <option value="administrador">Administrador</option>
                                            <option value="profesor">Profesor(a)</option>
                                            <option value="estudiante">Estudiante</option>
                                          </select> 
                                          <input class=controls type="text" style="width: 350px; height: 35px;" id="control" placeholder="Numero de Control" class="form-control">
                                        </div> 
                                     <div class="input-2"> 
                                        <input class=controls type="text" style="width: 300px; height: 35px;" id="name" placeholder="Nombre(s)" class="form-control">
                                        <input class=controls type="text" style="width: 300px; height: 35px;" id="lastname" placeholder="Apellido(s)" class="form-control">
                                       
                                     </div>
                                     <div class="input-3">
                                        <input class=controls type="text" style="width: 230px; height: 35px;" id="nameusr" placeholder="Nombre de usuario" class="form-control">
                                        <input class=controls  type="email" style="width: 370px; height: 35px;" id="email" placeholder="E-mail" class="form-control">
                                        
                                     </div>
                                     <div class="input-4">
                                        <input class=controls type="tel" style="width: 250px; height: 35px;" id="phone" placeholder="Teléfono" class="form-control">
                                        <input  class=controls type="date" style="width: 350px; height: 35px;" id="dateb" placeholder="Fecha de nacimiento" class="form-control" >                                   
                                       
                                     </div>
                                     
                                     <div class="input-5">
                                        <input class=controls type="password" style="width: 300px; height: 35px;" id="contraseña" placeholder="Contraseña" class="form-control">
                                        <input class=controls type="password" style="width: 300px; height: 35px;" id="confi-contraseña" placeholder="Confirmar contraseña" class="form-control">
                                       
                                     </div>
                                     <a href="/home"><button class="btn" btn-block style="width: 200px; height: 35px;">
                                         Crear cuenta
                                        </button></a>
                                    <a href="/login"><p class="link">¿Ya tienes una cuenta?  </p></a> 
                                      
                                   
                            </section>                       
                             




