<div id="seccion_header">
  <h4>Agregar temas</h4>
</div>
<nav class="navbar navbar-expand-sm">
  </nav>
<br/>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/agregar-tema">Registro de temas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/agregar-actividad">Agregar actividades a temas</a>
  </li>
</ul>
<br/>
<br/>
<br/>
<select class="form-select">
    <option>Área de Conocimiento</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
<br/>
<br/>
<br/>
<br/>
  <div class="container mt-3">           
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre del Tema</th>
          <th>Descripción</th>
          
          <th></th>
          <th></th>
          <th>Agregar Actividades</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" class="form-control form-control-sm" placeholder="Nombre"></td>
          <td><input type="text" class="form-control form-control-sm" placeholder="Descripción"></td>
          
          <td><img src="/assets/pics/check.png" width="20" lang="20"></td>
          <td><img src="/assets/pics/delete.png" width="20" lang="20"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          
          <td><img src="/assets/pics/edit.png" width="25" lang="25"></td>
          <td></td>
          <td><img   src="/assets/pics/add.png" width="20" lang="20"  ></td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            Ver Comentarios
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
          
                <div class="modal-header">
                  <h4 class="modal-title">Comentarios</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                
                <div class="modal-body">
                  Comentario...
                </div>
          
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
          
              </div>
            </div>
          </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>

 


