                
                                <section class = "form-login" id="section-login">
                                    
                                        <h2>Iniciar sesión</h2>
                                        <img class="img" src="/assets/pics/logo-didactic.png" alt="logo-didactic" width="150px" height="100px">
                                       <label for="Usuario" class="login-t">Usuario</label>
                                        <input class=controls type="text" style="width: 300px; height: 25px;" id="usuario"  class="form-control"> 
                                       <label for="Contraseña" class="login-t">Contraseña</label>
                                        <input class=controls type="password" style="width: 300px; height: 25px;" id="contraseña" class="form-control">                                     
                                        <p><input type="checkbox"> Recordarme en este equipo  </p>
                                        <a href="/proyectodidactic/src/app/components/nuevacontrasena/"><p class="link">¿Olvidaste la contraseña?</a>
                                           
                                            <a href="/registro"><p class="link">¿No tienes cuenta? Registrate</p></a>
                                        <a href="/home"><button type="submit" class="btn" style="width: 150px; height: 28px;" > Ingresar</button></a>
                                           
                                        
                                      
                            </section>                       
                             
