<nav id="nav" class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><img src="/assets/pics/logo-didactic.png" alt="Logotipo" width="50" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/instructor" role="button" data-bs-toggle="dropdown">Instructor</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/agregar-tema">Instructor 1</a></li>
              <li><a class="dropdown-item" href="#">Instructor 2</a></li>
              <li><a class="dropdown-item" href="#">Instructor 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/alumnos">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrador">Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registro">Registro</a>
          </li>
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
